.header {
  padding: 1.6rem 0.8rem 0.52rem 0.8rem;
  padding-bottom: 0.52rem;
  overflow: hidden;
  background: #fff;
}
.header .title {
  width: 2.8rem;
  height: 1.88rem;
  font-size: 0.96rem;
  line-height: 1.88rem;
  color: #222222;
  text-align: left;
  float: left;
}
.header .search {
  width: 2.8rem;
  float: right;
  font-size: 0.96rem;
  line-height: 1.88rem;
  color: #222222;
  text-align: right;
}
.navContainer {
  width: 100%;
  position: relative;
  height: 2.3rem;
  overflow: hidden;
}
.nav {
  padding: 0 0 0.4rem 0.8rem;
  background: #fff;
  overflow: hidden;
  position: absolute;
  left: 0;
}
.nav li {
  display: block;
  width: 3rem;
  height: 1.78rem;
  float: left;
  margin-left: 0.2rem;
  line-height: 1.78rem;
  font-size: 0.8rem;
  color: #999999;
  text-align: center;
}
.nav li:nth-child(1) {
  margin-left: 0;
}
.nav li.active {
  color: #ff566b;
  border-bottom: solid 6px #ff566b;
}
.picNews {
  padding: 0 0.8rem;
}
.picNews img {
  width: 13.2rem;
  height: 7.42rem;
  border-radius: 0.4rem;
  margin-bottom: 0.4rem;
}
.picNews .title {
  line-height: 1rem;
  font-size: 0.8rem;
  color: #222;
  text-align: left;
}
.listNews {
  padding: 0 0.8rem;
}
.listNews li {
  padding: 0.6rem 0;
  border-bottom: solid 1px #e1e1e1;
}
.listNews li .title {
  width: 13.4rem;
  height: 2.4rem;
  margin: 0 auto;
  font-size: 0.8rem;
  color: #333;
  line-height: 1.2rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.listNews li .sub_content {
  overflow: hidden;
}
.listNews li .column {
  display: inline-block;
  float: left;
  height: 0.8rem;
  font-size: 0.72rem;
  color: #bbbbbb;
}
.listNews li .threeNum {
  width: 6rem;
  height: 0.8rem;
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.listNews li .threeNum i {
  font-size: 0.64rem;
  color: #dddddd;
  padding: 0 0.2rem;
}
.listNews li .threeNum span {
  font-size: 0.64rem;
  color: #999999;
}
.noShow {
  display: none;
}
.imgTab .tab {
  overflow: hidden;
  position: relative;
  height: 8.5rem;
}
.imgTab .tab .dots {
  width: 100%;
  height: 0.2rem;
  text-align: center;
  position: absolute;
  bottom: 1.8rem;
  left: 0;
}
.imgTab .tab .dots span {
  display: inline-block;
  width: 0.16rem;
  height: 0.2rem;
  margin: 0 0.06rem;
  background: rgba(255, 255, 255, 0.8);
  vertical-align: top;
}
.imgTab .tab .dots .active {
  width: 6vw;
  background: #fff;
}
.imgTab .picList {
  width: 600vw;
  height: 8.5rem;
  position: absolute;
  top: 0;
  left: 0;
}
.imgTab .picList li {
  width: 100vw;
  position: absolute;
  float: left;
}
.imgTab .picList li a {
  display: block;
}
.imgTab .picList img {
  width: 100%;
}
.imgTab .picList span {
  display: block;
  width: 100%;
  height: 1.2rem;
  position: absolute;
  bottom: 0rem;
  left: 0;
  font-size: 0.8rem;
  color: #fff;
  line-height: 1.2rem;
  padding: 0.1rem 0.4rem;
  background: rgba(0, 0, 0, 0.5);
  white-space: nowarp;
  text-overflow: elipsis;
}
