.header {
  padding: 1.6rem 0.8rem 0.52rem 0.8rem;
  padding-bottom: 0.52rem;
  overflow: hidden;
  background: #fff;
}
.header .title {
  width: 2.8rem;
  height: 1.88rem;
  font-size: 0.96rem;
  line-height: 1.88rem;
  color: #222222;
  text-align: left;
  float: left;
}
.header .search {
  width: 2.8rem;
  float: right;
  font-size: 0.96rem;
  line-height: 1.88rem;
  color: #222222;
  text-align: right;
}
.navContainer {
  width: 100%;
  height: 1.78rem;
  overflow: scroll;
}
.nav {
  height: 1.78rem;
  padding: 0 0 0.4rem 0.8rem;
  background: #fff;
}
.nav li {
  display: block;
  padding: 0 0.6rem;
  height: 1.78rem;
  border-radius: 0.2rem;
  float: left;
  margin-left: 0.2rem;
  line-height: 1.78rem;
  font-size: 0.8rem;
  color: #999999;
  text-align: center;
}
.nav li:nth-child(1) {
  margin-left: 0;
}
.nav li.active {
  color: #ff566b;
  box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.15);
}
.picNews {
  padding: 0 0.8rem;
}
.picNews img {
  width: 13.2rem;
  height: 7.42rem;
  border-radius: 0.4rem;
  margin-bottom: 0.4rem;
}
.picNews .title {
  line-height: 1rem;
  font-size: 0.8rem;
  color: #222;
  text-align: left;
}
.listNews {
  padding: 0 0.8rem;
}
.listNews li {
  padding: 0.6rem 0;
  border-bottom: solid 1px #e1e1e1;
}
.listNews li .title {
  width: 13.4rem;
  height: 2.4rem;
  margin: 0 auto;
  font-size: 0.8rem;
  color: #666666;
  line-height: 1.2rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.listNews li .sub_content {
  overflow: hidden;
}
.listNews li .column {
  display: inline-block;
  float: left;
  height: 0.8rem;
  font-size: 0.72rem;
  color: #bbbbbb;
}
.listNews li .threeNum {
  width: 6rem;
  height: 0.8rem;
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.listNews li .threeNum i {
  font-size: 0.64rem;
  color: #dddddd;
  padding: 0 0.2rem;
}
.listNews li .threeNum span {
  font-size: 0.64rem;
  color: #999999;
}
