@r:50rem;
.header{
    padding:80/@r 40/@r 26/@r 40/@r;
    padding-bottom: 26/@r;
    overflow: hidden;
    background: #fff;
    .title{
        width: 140/@r;
        height: 94/@r;
        font-size:48/@r;
        line-height: 94/@r;
        color: #222222;
        text-align: left;
        float: left;
    }
    .search{
        width: 140/@r;
        float:right;
        font-size:48/@r;
        line-height: 94/@r;
        color: #222222;
        text-align: right;
    }
}
.navContainer{
    width: 100%;
    height: 89/@r;
    overflow: scroll;
}
.nav{
    height: 89/@r;
    padding:0 0 20/@r 40/@r;
    background: #fff;
    li{
        display:block;
        padding: 0 30/@r;
        height: 89/@r;
        border-radius:10/@r;
        float: left;
        margin-left: 10/@r;
        line-height: 89/@r;
        font-size: 40/@r;
        color:#999999;
        text-align: center;
    }
    li:nth-child(1){
        margin-left: 0;
    }
    li.active{
        color:#ff566b;
        box-shadow: 0/@r 10/@r 20/@r rgba(0,0,0,.15);
    }
}
.picNews{
    padding:0 40/@r;
    img{
        width: 660/@r;
        height: 371/@r;
        border-radius:20/@r;
        margin-bottom: 20/@r;
    }
    .title{
        line-height: 50/@r;
        font-size: 40/@r;
        color: #222;
        text-align: left;
    }
}
.listNews{
    padding:0 40/@r;
    li{
        padding: 30/@r 0;
        border-bottom: solid 1px #e1e1e1;
        .title{
            width: 670/@r;
            height: 120/@r;
            margin: 0 auto;
            font-size: 40/@r;
            color:#666666;
            line-height: 60/@r;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 10px;
        }
        .sub_content{
            overflow: hidden;
        }
        .column{
        display: inline-block;
        float: left;
        height: 40/@r;
        font-size: 36/@r;
        color:#bbbbbb;
        }
        .threeNum{
            width: 300/@r;
            height: 40/@r;
            float: right;
            display: flex;
            align-items: center;
            justify-content: space-between;
            i{
                font-size: 32/@r;
                color:#dddddd;
                padding: 0 10/@r;
            }
            span{
                font-size: 32/@r;
                color:#999999;
            }
        }
    }
}