.box {
  text-align: left;
  background: #fff;
}
.box .ArticleHeader {
  padding: 0.4rem 0.8rem;
}
.box .back {
  width: 2.4rem;
  height: 2.48rem;
  padding-left: 0.28rem;
  font-size: 1.8rem;
  line-height: 2.48rem;
  background: none;
  text-align: left;
  outline: none;
}
.box .t {
  font-size: 0.8rem;
  height: 2.48rem;
  display: inline-block;
  line-height: 2.48rem;
  color: #fff;
  text-align: center;
}
.box .article {
  padding: 0 0.8rem;
  background: #fff;
  margin-bottom: 0.8rem;
}
.box .article .title {
  font-size: 1.2rem;
  line-height: 1.32rem;
  color: #333333;
  margin-bottom: 0.4rem;
  background: #fff;
}
.box .article .detail {
  border-bottom: solid 1px #e1e1e1;
  overflow: hidden;
  margin-bottom: 0.6rem;
  padding-bottom: 0.4rem;
}
.box .article .detail .left {
  float: left;
}
.box .article .detail .right {
  float: right;
  margin-top: 1.2rem;
}
.box .article .detail .right .read i,
.box .article .detail .right .comment i,
.box .article .detail .right .share i {
  color: #1bc5ae;
}
.box .article .detail span {
  display: inline-block;
  font-size: 0.6rem;
  line-height: 0.8rem;
  color: #666666;
  margin-right: 0.6rem;
}
.box .article .detail span i {
  margin: 0 0.2rem;
}
.box .article .main {
  padding-bottom: 2rem;
}
.box .article .main p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #666666;
  text-indent: 2em;
}
.box .article .main .tags {
  margin-top: 0.48rem;
  overflow: hidden;
}
.box .article .main .tags li {
  font-size: 0.48rem;
  line-height: 0.96rem;
  color: #6e6e6e;
  border-radius: 0.2rem;
  background: #e5e5e5;
  padding: 0 0.36rem;
  float: left;
  margin-right: 0.4rem;
}
.box .recommend {
  padding: 0.8rem;
}
.box .recommend h2 {
  font-size: 0.96rem;
  color: #333333;
}
.commentHeader {
  height: 2.48rem;
  padding: 0 0.8rem;
  background: #1bc5ae;
  text-align: center;
  font-size: 0.8rem;
  line-height: 2.48rem;
  color: #fff;
  position: relative;
}
.commentHeader .back {
  color: #fff;
  position: absolute;
  left: 1.2rem;
}
.commentBox {
  padding: 0 0.8rem 0.8rem 0.8rem;
}
.commentTitle {
  font-size: 0.8rem;
  line-height: 1.8rem;
}
.commentTitle .title {
  color: #222222;
  margin-right: 0.58rem;
}
.commentTitle .num {
  color: #878787;
}
.commentList li {
  border-radius: 0.2rem;
  padding: 0.6rem;
  overflow: hidden;
  margin-bottom: 0.6rem;
}
.commentList li .avatar {
  width: 2.16rem;
  height: 2.16rem;
  border-radius: 50%;
  float: left;
}
.commentList li .right {
  width: 9.6rem;
  float: right;
}
.commentList li .right h2 {
  font-size: 0.72rem;
  line-height: 1.12rem;
  color: #666666;
}
.commentList li .right p {
  font-size: 0.56rem;
  line-height: 0.66rem;
  color: #999999;
}
.commentList li:nth-last-child(1) {
  margin-bottom: 0;
}
.commentFooter {
  border-top: solid 1px #e1e1e1;
  padding: 0.4rem;
  box-shadow: 0 -0.2rem 0.6rem #e1e1e1;
}
.commentFooter input {
  width: 12rem;
  height: 1.36rem;
  border-radius: 6rem;
  border: solid 2px #bbbbbb;
  padding-left: 0.6rem;
  font-size: 0.6rem;
  line-height: 1.36rem;
  color: #cfcfcf;
  outline: none;
}
.commentFooter .submitBtn {
  background: transparent;
  line-height: 1.48rem;
  margin-left: 0.2rem;
  color: #92a3ff;
}
.artilceFooter {
  width: 15rem;
  height: 1.2rem;
  padding: 0.6rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  background: #fff;
  z-index: 11;
  border-top: solid 1px #cfcfcf;
}
.artilceFooter .comment,
.artilceFooter .bookmark,
.artilceFooter .share {
  width: 33%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.52rem;
  color: #bbbbbb;
}
.artilceFooter .comment i,
.artilceFooter .bookmark i,
.artilceFooter .share i {
  margin: 0 0.4rem;
}
.artilceFooter .comment span,
.artilceFooter .bookmark span,
.artilceFooter .share span {
  display: inline-block;
  font-size: 0.6rem;
  margin-left: 0.4rem;
  line-height: 1.52rem;
}
.artilceFooter .bookmark {
  background: none;
  outline: none;
}
.artilceFooter .comment {
  position: relative;
}
.artilceFooter .bookmark.active {
  color: #f5a623;
}
.artilceFooter a .commentNum {
  height: 0.8rem;
  line-height: 0.8rem;
  padding: 0.1rem 0.4rem;
  border-radius: 1.2rem;
  font-size: 0.56rem;
  color: #fff;
  background: #ff566b;
  position: absolute;
  top: 0;
  left: 2.2rem;
}
