@r:50rem;
.box{
    text-align: left;
    background: #fff;
    .ArticleHeader{
        padding: 20/@r 40/@r;
    }
    .back{
        width: 120/@r;
        height: 124/@r;
        padding-left: 14/@r;
        font-size:90/@r;
        line-height: 124/@r;
        background: none;
        text-align: left;
        outline: none;
    }
    .t{
        font-size:40/@r;
        height: 124/@r;
        display: inline-block;
        line-height: 124/@r;
        color: #fff;
        text-align: center;
    }
    .article{
        padding: 0 40/@r;
        background: #fff;
        margin-bottom: 40/@r;
        .title{
            font-size: 60/@r;
            line-height: 66/@r;
            color:#333333;
            margin-bottom: 20/@r;
            background: #fff;
        }
        .detail{
            border-bottom: solid 1px #e1e1e1;
            overflow: hidden;
            margin-bottom: 30/@r;
            padding-bottom: 20/@r;
            .left{
                float: left;
            }
            .right{
                float: right;
                margin-top: 60/@r;
                .read i,.comment i,.share i{
                    color: #1bc5ae;
                }
            }
            span{
                display:inline-block;
                font-size: 30/@r;
                line-height: 40/@r;
                color:#666666;
                margin-right: 30/@r;
                i{
                    margin: 0 10/@r;
                }
            }
        }
        .main{
            padding-bottom: 100/@r;
            p{
                font-size: 40/@r;
                line-height: 60/@r;
                color:#666666;
                text-indent: 2em;
            }
            .tags{
                margin-top: 24/@r;
                overflow: hidden;
                li{
                    font-size: 24/@r;
                    line-height: 48/@r;
                    color:#6e6e6e;
                    border-radius:10/@r;
                    background: #e5e5e5;
                    padding: 0 18/@r;
                    float: left;
                    margin-right: 20/@r;
                }
            }
        }
    }
    .recommend{
        padding: 40/@r;
        h2{
            font-size: 48/@r;
            color:#333333;
        }
    }
}
.commentHeader{
    height: 124/@r;
    padding: 0 40/@r;
    background: #1bc5ae;
    text-align: center;
    font-size:40/@r;
    line-height: 124/@r;
    color: #fff;
    position: relative;
    .back{
        color: #fff;
        position: absolute;  
        left: 60/@r;
    }
}
.commentBox{
    padding: 0 40/@r 40/@r 40/@r;
}
.commentTitle{
    font-size: 40/@r;
    line-height: 90/@r;
    .title{
        color:#222222;
        margin-right: 29/@r;
    }
    .num{
        color: #878787;
    }
}
.commentList{
    li{
        border-radius:10/@r;
        padding: 30/@r;
        overflow: hidden;
        margin-bottom: 30/@r;
        .avatar{
            width: 108/@r;
            height: 108/@r;
            border-radius:50%;
            float: left;
        }
        .right{
            width: 480/@r;
            float:right;
            h2{ 
                font-size: 36/@r;
                line-height: 56/@r;
                color:#666666;
            }
            p{
                font-size: 28/@r;
                line-height: 33/@r;
                color:#999999;
            }
        }
    }
    li:nth-last-child(1){
        margin-bottom: 0;
    }
}
.commentFooter{
    border-top: solid 1px #e1e1e1;
    padding: 20/@r;
    box-shadow:0 -10/@r 30/@r #e1e1e1;
    input{
        width: 600/@r;
        height: 68/@r;
        border-radius:300/@r;
        border: solid 2px #bbbbbb;
        padding-left: 30/@r;
        font-size: 30/@r;
        line-height: 68/@r;
        color:#cfcfcf;
        outline:none;
    }
    .submitBtn{
        background: transparent;
        line-height: 74/@r;
        margin-left: 10/@r;
        color:#92a3ff;
    }
}
.artilceFooter{
    width: 750/@r;
    height: 60/@r;
    padding: 30/@r 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom:0;
    background: #fff;
    z-index: 11;
    border-top: solid 1px #cfcfcf;
    .comment,.bookmark,.share{
        width: 33%;
        text-align: center;
        font-size: 60/@r;
        line-height: 76/@r;
        color: #bbbbbb;
        i{
            margin: 0 20/@r;
        }
        span{
            display:inline-block;
            font-size: 30/@r;
            margin-left: 20/@r;
            line-height: 76/@r;
        }
    }
    .bookmark{
        background: none;
        outline:none;
    }
    .comment{
        position: relative;
    }
    .bookmark.active{
        color: #f5a623;
    }
    a .commentNum{
        height: 40/@r;
        line-height: 40/@r;
        padding:5/@r 20/@r;
        border-radius:60/@r;
        font-size:28/@r;
        color: #fff;
        background: #ff566b;
        position: absolute;
        top: 0;
        left:110/@r;
    }
}