.footer {
  width: 15rem;
  height: 2.12rem;
  padding: 0.6rem 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background: #fff;
  z-index: 11;
  box-shadow: 0 -0.16rem 0.8rem #e1e1e1;
}
.footer a {
  width: 25%;
  box-sizing: border-box;
}
.footer a .pic {
  width: 1.12rem;
  height: 0.96rem;
  margin: 0 auto;
  background-image: url('../img/footer/sprite.png');
}
.footer a span {
  display: block;
  text-align: center;
  font-size: 0.6rem;
  line-height: 1.6rem;
  color: #999;
}
.footer .home .pic {
  background-position: 0 0;
}
.footer .video .pic {
  background-position: 0 -1.08rem;
}
.footer .discover .pic {
  background-position: 0 -2.16rem;
}
.footer .mine .pic {
  background-position: 0 -3.32rem;
}
.footer .home.active .pic {
  background-position: -1.52rem 0;
}
.footer .video.active .pic {
  background-position: -1.52rem -1.08rem;
}
.footer .discover.active .pic {
  background-position: -1.52rem -2.16rem;
}
.footer .home.mine .pic {
  background-position: -1.52rem -3.32rem;
}